


{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'CSS/design.css' %}?v=3">


{% if error %}
    <p style="color:red;">
        {{ error }}
    </p>
{% endif %}

<form method="POST" class="signup-form">
    <p>Create Account</p>
    {% csrf_token %}

    <label>Username</label>
    <input type="text" name="username" required>

    <br><br>

    <label>Password</label>
    <input type="password" name="password" required>

    <br><br>

    <label>Confirm Password</label>
    <input type="password" name="password2" required>

    <br><br>

    <button type="submit" class="btn btn-success">
        Sign Up
    </button>

</form>

